footer
    .container
        .row
            .col-md-6.col-xs-12
                span.t--upper.
                    © 2015 «Сегмента Фарм» Порциола ® РУ №РЗН 2014/1432 от 04.03.2014
            .col-md-6.col-xs-12.text-right
                a(href="javascript:void(0)")
                    span.t--upper Сообщить о нежелательном явлении
                a(href="javascript:void(0)")
                    span.t--upper Официальное уведомление

        .row
            .col-sm-12.t--upper.contraindications
                img(src="/i/contraindications.png")