header
    .container
        .row
            .col-md-4.col-sm-10.col-xs-10.logo
                a(href="")
                    img(src="/i/1.svg")
                    img(src="/i/2.svg")
            .xs-menu-button.col-xs-2.col-sm-2.pull-right.visible-xs.visible-sm
                #xsMenuBtn(role="button")
                    span.glyphicon.glyphicon-align-justify.visible-sm
                    span.glyphicon.glyphicon-option-vertical.visible-xs
            .top-menu.col-md-8.col-sm-12.hidden-sm.hidden-xs
                include menu