header
    .container
        .row
            .col-md-4.logo
                a(href="")
                    img(src="/i/1.svg")
                    img(src="/i/2.svg")
            .top-menu.col-md-8.col-sm-8.col-xs-12.hidden-xs
                ul
                    li.item
                        a(href='/about/') О препарате
                    li.item
                        a(href='#work') Как работает
                    li.item
                        a(href='#safety') Безопасность и эффективность
                    li.item
                        a(href='http://www.piluli.ru/product/portsiola') Купить онлайн