ul
    li.item
        a(href='/about/') О препарате
    li.item
        a(href='#work') Как работает
    li.item
        a(href='#safety') Безопасность и эффективность
    li.item
        a(href='http://www.piluli.ru/product/portsiola') Купить онлайн