// Created by gillbeits on 11.12.15.
- var title = "Проблемы с весом"

doctype html
html(lang="ru")
    include include/head

    body.fat
        include include/header
        .content
            .slide.slide-1
                a(name="about", rel="href")
                .back
                    a.button.btn-danger(href="http://www.piluli.ru/product/portsiola") Купить онлайн
            a(name="work", rel="href")
            .slide.slide-2.hidden-xs
                .back
                a.button.btn-danger(href="http://www.piluli.ru/product/portsiola") Купить онлайн
            .slide.slide-2-xs.visible-xs
                img(src="/i/2-slide-xs-1.jpg")
                img(src="/i/2-slide-xs-2.jpg")
                img(src="/i/2-slide-xs-3.jpg")
                a.button.btn-danger(href="http://www.piluli.ru/product/portsiola") Купить онлайн
            a(name="safety", rel="href")
            .slide.slide-3.hidden-xs
                .back
                    a.button.btn-danger(href="http://www.piluli.ru/product/portsiola") Купить онлайн
            .slide.slide-3-xs.visible-xs
                img(src="/i/5-slide-xs.jpg")
                a.button.btn-danger(href="http://www.piluli.ru/product/portsiola") Купить онлайн
        include include/footer