// Created by gillbeits on 11.12.15.
- var title = "Контроль веса"

doctype html
html(lang="ru")
    include include/head

    body.weight
        include include/header
        .content
            .slide.slide-1
                a(name="about", rel="href")
                .back
                    a.button.btn-danger(href="http://www.piluli.ru/product/portsiola") Купить онлайн
            .slide.slide-2
                a(name="work", rel="href")
                .back
                a.button.btn-danger(href="http://www.piluli.ru/product/portsiola") Купить онлайн
            .slide.slide-3
                a(name="safety", rel="href")
                .back
                    a.button.btn-default(href="http://www.piluli.ru/product/portsiola") Купить онлайн

        include include/footer